@model SISTEMA_EVENTOS.MODEL.Models.Evento

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir Evento</h1>

<h3>Deseja realmente excluir o evento?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Sim, Excluir" class="btn btn-danger" /> |
        <a class="bnt bnt-primary" asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
